#main-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#menu-card {
	height: 90%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	box-shadow: 5px 10px;
	align-items: center;
}

.half-screen {
	width: 50%;
}

.menu-items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;
}

#menu-items {
	text-align: center;
}
